server:
  port: 20002

spring:
  datasource:
#    url: jdbc:mysql://192.168.4.150/user_db?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&allowMultiQueries=true
#    username: root
#    password: password

#    This is localhost
    url: jdbc:mysql://127.0.0.1:336/management_db?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&allowMultiQueries=true
    username: root
    password: sf011009sf
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  mapper-locations: classpath*:mapper/userMapper.xml
  type-aliases-package: com.management.CompanyManagementSystem.Entity

logging:
  level:
    root: INFO
    com.myDemo.demo: DEBUG
