/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    in-height: 100vh;
    background: cornflowerblue;
    transition: 0.5s;
}
body.active{
    background: cadetblue;
}
.container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}
.container .BlueBg {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.15);
}
.BlueBg .box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.BlueBg .box h2 {
    color: whitesmoke;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}
.BlueBg .box button {
    cursor: pointer;
    padding: 10px 20px;
    background: whitesmoke;
    color: black;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.formBx {
    position: absolute;
    /*top: 0;*/
    left: 0;
    width: 50%;
    height: 110%;
    background: whitesmoke;
    z-index: 10000;
    display:  flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0,0,0,0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
.formBx.active{
    left: 50%;
}
.formBx .form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}
.formBx.signinForm {
    transition-delay: 0.25s;
}
.formBx.active .signinForm{
    left: -100%;
    transition-delay: 0s;
}
.formBx .signupForm {
    left: 100%;
    transition-delay: 0s;
}
.formBx.active .signupForm{
    left: 0;
    transition-delay: 0.25s;
}
.formBx h3 {
    font-size: 1.5em;
    color: black;
    margin-bottom: 20px;
    font-weight: 500;
}
.formBx form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formBx form h3 {
    font-size: 1.5em;
    color: black;
    margin-bottom: 20px;
    font-weight: 500;
}
.formBx form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid black;
}
.formBx form input[type="submit"] {
    background: cornflowerblue;
    border: none;
    color: whitesmoke;
    max-width: 100px;
    cursor: pointer;
}
.formBx .signupForm form input[type="submit"]
{
    background: cadetblue;
}
.formBx form a
{
    color: black;
}
/*@media (max-width: 991px)*/
/*{*/
/*    .container*/
/*    {*/
/*        max-width: 400px;*/
/*        height: 650px;*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/
/*    .container .blueBg*/
/*    {*/
/*        top: 0;*/
/*        height: 100%;*/
/*        height: 500px;*/
/*    }*/
/*    .formBx*/
/*    {*/
/*        width: 100%;*/
/*        height: 500px;*/
/*        top: 0;*/
/*        box-shadow: none;*/
/*    }*/
/*    .formBx.active*/
/*    {*/
/*        left: 0;*/
/*        top: 150px;*/
/*    }*/
/*    .container .blueBg*/
/*    {*/
/*        height: 650px;*/
/*    }*/
/*    .container .box*/
/*    {*/
/*        position: absolute;*/
/*        width: 100%;*/
/*        height: 150px;*/
/*        bottom: 0;*/
/*    }*/
/*    .container .box.signin*/
/*    {*/
/*        top: 0;*/
/*    }*/
/*}*/