@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body {
    min-height: 100vh;
    background: lightblue;
}
.main {
    position: absolute;
    width: calc(100% - 120px);
    left: 120px;
    min-height: 100vh;
    background: whitesmoke;
    transition: 0.5s;
}
.main.active {
     width: calc(100% - 340px);
     left: 340px;
 }
table{
    width: 100%;
    border-collapse: collapse;
}
table caption{
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}
th,td{
    border: 1px solid #999;
    text-align: center;
    padding: 20px 0;
}

table thead tr{
    background-color: cornflowerblue;
    color: #fff;
}

table tbody tr:nth-child(odd){
    background-color: #eee;
}

table tbody tr:hover{
    background-color: whitesmoke;
}

table tbody tr td:first-child{
    color: cornflowerblue;
}

table tfoot tr td{
    text-align: right;
    padding-right: 20px;
}
button {
    cursor: pointer;
    padding: 10px 20px;
    background: cornflowerblue;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.addUserBtn{
    cursor: pointer;
    padding: 10px 20px;
    background: whitesmoke;
    color: cornflowerblue;
    font-size: 24px;
    font-weight: 500;
    border: grey;
}
.hide {
    display: none;
}