<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <base href="/" />
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
  <link href="../static/css/addUser.css" th:href="@{/css/addUser.css}" rel="stylesheet">
  <link href="../static/css/settings.css" th:href="@{/css/settings.css}" rel="stylesheet">
</head>
<body>
<div class="container">
  <div th:insert="~{common :: navbar}"></div>
  <div class="toggle" th:fragment="toggle" onclick="toggleMenu()">
    <!-- Your toggle content here -->
  </div>
  <div class="main">
    <div class="topbar">
      <div class="profile">
        <h3 th:text="${fullName + '-' + department}"></h3>
        <div class="user">
          <img src="/img/userImg.jpg">
        </div>
      </div>
      <div class="dropdown">
        <button onclick="toggleDropdown()" class="dropbtn">密码
          <ion-icon name="arrow-down-outline"></ion-icon>
        </button>
        <div id="dropdown-content" class="dropdown-content">
          <a href="/settings">个人信息</a>
<!--          <a href="#" onclick="loadContent('Message')">消息</a>-->
<!--          <a href="#" onclick="loadContent('Plan')">计划</a>-->
        </div>
      </div>
    </div>
    <div class="content">
      <div class="title">修改密码</div>
      <form action="/forgotPassword" method="POST">
        <div class="user-details">
          <div class="input-box">
            <input type="hidden" name="fullName" placeholder="" required th:value="${currentEmp.getFullName()}">
          </div>
          <div class="input-box">
            <input type="hidden" name="email" placeholder="" required th:value="${currentEmp.getEmail()}">
          </div>
          <div class="input-box">
            <span class="details">原密码</span>
            <input type="password" name="oldPassword" placeholder="输入原密码" required>
            <input type="hidden" name="correctPassword" th:value="${currentEmp.getPassword()}">
          </div>
          <div class="input-box">
            <span class="details">新密码</span>
            <input type="password" name="newPassword" placeholder="输入新密码" required>
          </div>
          <div class="input-box">
            <span class="details">确认密码</span>
            <input type="password" name="confirmPassword" placeholder="确认密码" required>
          </div>
        </div>

        <div class="button">
          <input type="submit" value="确认提交">
        </div>
      </form>
    </div>
  </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="text/javascript">
  function toggleMenu(){
    let navbar = document.querySelector('.navbar');
    let toggle = document.querySelector('.toggle');
    let main = document.querySelector('.main');
    main.classList.toggle('active');
    navbar.classList.toggle('active');
  }

  window.onload = function() {
    document.querySelector('form').addEventListener('submit', function (event) {
      console.log('Form submitted');
      event.preventDefault();
      const formData = new FormData(event.target);

      const email = formData.get('email');
      const newPassword = formData.get('newPassword');
      const confirmPassword = formData.get('confirmPassword');
      const oldPassword = formData.get('oldPassword');



      // Check if new password and confirm password match
      if (newPassword !== confirmPassword) {
        alert('确认密码与新密码不符。');
        return;
      }

      let newEmp = {
        id: 0,
        fullName: oldPassword,
        email: email,
        departmentID: 0,
        password: newPassword,
        gender: 0,
        roleID: 0
      };

      fetch('/user/editPassword', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(newEmp),
      }).then(response => response.text())
              .then(responseText => {
                if (responseText === "Password changed successfully") {
                  alert("修改成功！");
                  window.location.href = '/settings';
                } else if (responseText === "Incorrect old password") {
                  alert("原密码不正确。");
                } else {
                  alert("请求失败请稍后重试");
                  location.reload();
                }
              })
              .then(data => {
                // If response was successful, log the response
                console.log('Success:', data);
              })
              .catch((error) => {
                // If there was an error, log the error
                console.error('Error:', error);
              });
    });
  }
</script>
</body>
</html>