<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <base href="/" />
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>component</title>
  <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
<body>
<!--  所有页面的侧边栏都是一样的都在这里-->
  <nav class="navbar" th:fragment="navbar">
    <ul>
      <li>
        <a href="/index">
          <span class="icon"><img src="/img/zhenhuan.png"></span>
          <span class="title" style="font-size: 1.5em;font-weight: 500;">业务管理系统</span>
        </a>
      </li>
      <li id="tab1" data-tab="1">
        <a href="/index">
          <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
          <span class="title">主页面</span>
        </a>
      </li>
      <li id="tab2" data-tab="2">
        <a href="/allEmp">
          <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
          <span class="title">员工</span>
        </a>
      </li>
      <li id="tab3" data-tab="3">
        <a href="/inbox">
          <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
          <span class="title">信息</span>
        </a>
      </li>
      <li id="tab4" data-tab="4">
        <a href="/plan">
          <span class="icon"><ion-icon name="clipboard-outline"></ion-icon></span>
          <span class="title">计划</span>
        </a>
      </li>
      <li id="tab5" data-tab="5">
        <a href="/settings">
          <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
          <span class="title">设置</span>
        </a>
      </li>
      <li id="tab6" data-tab="6">
        <a href="/record">
          <span class="icon"><ion-icon name="recording-outline"></ion-icon></span>
          <span class="title">记录</span>
        </a>
      </li>
      <li id="tab7" data-tab="7">
        <a href="/logout">
          <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
          <span class="title">登出</span>
        </a>
      </li>
    </ul>
  </nav>
<!--顶栏-->
<nav class="topbar" th:fragment="topbar">
  <div class="topbar">
    <div class="profile">
      <h3 th:text="${fullName + '-' + department}"></h3>
      <div class="user">
<!--        用户头像功能未加入，这是随便一张图片-->
        <img src="/img/userImg.jpg">
      </div>
    </div>
<!--    搜索功能我只加在了用户列表页面-->
    <!-- search -->
    <!--    <div class="search">-->
    <!--      <label>-->
    <!--        <input type="text" placeholder="搜索">-->
    <!--        <ion-icon name="search-outline"></ion-icon>-->
    <!--      </label>-->
    <!--    </div>-->
    <!-- userImg -->
  </div>
</nav>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>