<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link href="../static/css/changePassword.css" th:href="@{/css/changePassword.css}" rel="stylesheet">
</head>
<body>

<div class="content">
  <div class="title">忘记密码</div>
  <form action="/forgotPassword" method="POST">
    <div class="user-details">
      <div class="input-box">
        <span class="details">姓名</span>
        <input type="text" name="fullName" placeholder="输入您的姓名" required>
      </div>
      <div class="input-box">
        <span class="details">邮箱</span>
        <input type="text" name="email" placeholder="输入您的邮箱" required>
      </div>
      <div class="input-box">
        <span class="details">新密码</span>
        <input type="password" name="newPassword" placeholder="输入新密码" required>
      </div>
      <div class="input-box">
        <span class="details">确认密码</span>
        <input type="password" name="confirmPassword" placeholder="确认密码" required>
      </div>
    </div>

    <div class="button">
      <input type="submit" value="确认提交">
    </div>
    <div class="button">
      <input type="button" name="cancel" value="取消" onclick="location.href='/login'">
    </div>
  </form>
</div>

<script type="text/javascript">
  window.onload = function() {
    document.querySelector('form').addEventListener('submit', function (event) {
      console.log('Form submitted');
      event.preventDefault();
      const formData = new FormData(event.target);

      const email = formData.get('email');
      const fullName = formData.get('fullName');
      const newPassword = formData.get('newPassword');
      const confirmPassword = formData.get('confirmPassword');

      // Check if new password and confirm password match
      if (newPassword !== confirmPassword) {
        alert('确认密码与新密码不符。');
        return;
      }

      let newEmp = {
        id: 0,
        fullName: fullName,
        email: email,
        departmentID: 0,
        password: newPassword,
        gender: 0,
        roleID: 0
      };

      fetch('/user/forgotPassword', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(newEmp),
      })
              .then(response => {
                if (response.ok) {
                  alert("修改成功！");
                  window.location.href = '/login';
                } else {
                  // Refresh the page if the response is not ok (failed)
                  alert("请求失败请稍后重试");
                  location.reload();
                }
              })
              .then(data => {
                // If response was successful, log the response
                console.log('Success:', data);
              })
              .catch((error) => {
                // If there was an error, log the error
                console.error('Error:', error);
              });
    });
  }

</script>
</body>
</html>