<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/" />
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message Inbox</title>
  <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
  <link href="../static/css/messageInbox.css" th:href="@{/css/messageInbox.css}" rel="stylesheet">
</head>
<body>
<div class="container">
  <div th:insert="~{common :: navbar}"></div>
  <div class="toggle" onclick="toggleMenu()"></div>
  <div class="main">
    <div th:insert="~{common :: topbar}"></div>
    <div class="messageBox">
      <form id="message-form">
        <label>From:</label>
        <div th:text="${employee.getEmail()}"></div>

        <label for="toUser">To:</label>
        <input type="text" id="toUser" name="toUser" required>

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="content">Message:</label>
        <textarea id="content" name="content" required></textarea>

        <button type="submit">Send Message</button>
      </form>
    </div>
  </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script type="text/javascript">
  function toggleMenu(){
    let navbar = document.querySelector('.navbar');
    let main = document.querySelector('.main');
    main.classList.toggle('active');
    navbar.classList.toggle('active');
  }
  document.getElementById('message-form').addEventListener('submit', function(event) {
    event.preventDefault();

    const toUser = document.getElementById('toUser').value;
    const title = document.getElementById('title').value;
    const content = document.getElementById('content').value;
    const sendTime = new Date().toISOString();

    fetch('/messages/send', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ sendTime, toUser, title, content })
    }).then(response => {
      if (response.ok) {
        alert('Message sent successfully!');
      } else {
        alert('Failed to send message.');
      }
    });
  });

</script>

</body>
</html>