<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/" />
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div th:insert="~{common :: navbar}"></div>
        <div class="toggle" th:fragment="toggle" onclick="toggleMenu()">
            <!-- Your toggle content here -->
        </div>
        <div class="main">
            <div th:insert="~{common :: topbar}"></div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script type="text/javascript">
        function toggleMenu(){
            let navbar = document.querySelector('.navbar');
            let toggle = document.querySelector('.toggle');
            let main = document.querySelector('.main');
            main.classList.toggle('active');
            navbar.classList.toggle('active');
        }
    </script>
</body>
</html>