<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/" />
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div th:insert="~{common :: navbar}"></div>
        <div class="toggle" th:fragment="toggle" onclick="toggleMenu()">
        </div>
        <div class="main">
            <div th:insert="~{common :: topbar}"></div>
            <!-- Add Charts -->
            <div class="graphBox">
                <div class="box">
                    <input type="hidden" class="department-id" data-id="0" th:value="${departments[0].getDepartmentID()}">
                    <input type="hidden" class="department-name" data-id="0" th:value="${departments[0].getDName()}">

                    <input type="hidden" class="department-id" data-id="1" th:value="${departments[1].getDepartmentID()}">
                    <input type="hidden" class="department-name" data-id="1" th:value="${departments[1].getDName()}">
                    <input type="hidden" class="department-id" data-id="2" th:value="${departments[2].getDepartmentID()}">
                    <input type="hidden" class="department-name" data-id="2" th:value="${departments[2].getDName()}">
                    <input type="hidden" class="department-id" data-id="3" th:value="${departments[3].getDepartmentID()}">
                    <input type="hidden" class="department-name" data-id="3" th:value="${departments[3].getDName()}">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="box">
                    <div id="assignments-container">
                        <h2>我的操作记录</h2>
                        <input type="hidden" id="empID" th:value="${id}">
                        <!-- 当前用户的activity -->
                    </div>
                </div>
            </div>
            <!--Add to-do list-->
            <div class="todoList">
                <div class="box">
                    <div id="myDIV" class="header">
                        <h2>待办事项清单</h2>
                        <input type="text" id="todoInput" placeholder="待办事项" class="input">
                        <span class="addBtn">加入</span>
                    </div>

                    <ul id="myUL" class="todoListItems">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{../static/js/common.js}"></script>
    <script type="text/javascript">

        function toggleMenu(){
            let navbar = document.querySelector('.navbar');
            let toggle = document.querySelector('.toggle');
            let main = document.querySelector('.main');
            main.classList.toggle('active');
            navbar.classList.toggle('active');
        }

        //用网页暂时存了用户以前写的待办事项，但是待办事项是没有入数据库的

        window.onload = function() {
            var tasks = JSON.parse(localStorage.getItem('tasks')) || [];
            for(var i = 0; i < tasks.length; i++) {
                createNewTask(tasks[i].text, tasks[i].checked);
            }
            const userID = document.getElementById("empID").value;
            const url = '/logbook/get/' + userID;

            fetch(url).then(response => response.json()).then(assignments => {
                const container = document.getElementById('assignments-container');
                assignments.forEach(assignment => {
                    const div = document.createElement('div');
                    div.className = 'assignment-entry';

                    const timestamp = document.createElement('p');
                    timestamp.textContent = '操作时间: ' + new Date(assignment.operationTimestamp).toLocaleString();
                    div.appendChild(timestamp);


                    const type = document.createElement('p');
                    type.textContent = '操作类型: ' + assignment.operationType;
                    div.appendChild(type);

                    const details = document.createElement('p');
                    details.textContent = '操作简述: ' + assignment.operationDetails;
                    div.appendChild(details);

                    container.appendChild(div);
                });
            });

        };

        //待办事项在表里的显示
        function createNewTask(taskText, taskChecked) {
            var li = document.createElement("li");
            var t = document.createTextNode(taskText);
            li.appendChild(t);
            //如果完成了就显示划掉的状态，具体在css里改的样式
            if(taskChecked){
                li.classList.add('checked');
            }
            document.getElementById("myUL").appendChild(li);
            document.getElementById("todoInput").value = "";

            //删除待办事项的按钮
            var span = document.createElement("SPAN");
            var txt = document.createTextNode("X");
            span.className = "close";
            span.appendChild(txt);
            li.appendChild(span);

            span.onclick = function() {
                var div = this.parentElement;
                div.remove();
                var tasks = JSON.parse(localStorage.getItem('tasks')) || [];
                var index = tasks.findIndex(task => task.text === taskText);
                tasks.splice(index, 1);
                localStorage.setItem('tasks', JSON.stringify(tasks));
            }
        }

        //新建代办事项
        function newElement() {
            var inputValue = document.getElementById("todoInput").value;
            if (inputValue.trim() === '') {
                alert("输入内容不能为空");
            } else {
                createNewTask(inputValue, false);

                // 存到localStorage里
                var tasks = JSON.parse(localStorage.getItem('tasks')) || [];
                tasks.push({ text: inputValue, checked: false });
                localStorage.setItem('tasks', JSON.stringify(tasks));
            }
        }

        document.querySelector('.addBtn').addEventListener('click', newElement);

        document.querySelector('.todoListItems').addEventListener('click', function(ev) {
            if (ev.target.tagName === 'LI') {
                ev.target.classList.toggle('checked');
                // 如果用户点击一次当前事项就会显示一个划掉或者取消划掉的样式
                var tasks = JSON.parse(localStorage.getItem('tasks')) || [];
                var taskText = ev.target.textContent;
                var task = tasks.find(task => task.text === taskText.substring(0, taskText.length - 1));
                if (task) {
                    task.checked = ev.target.classList.contains('checked');
                    localStorage.setItem('tasks', JSON.stringify(tasks));
                }
            }
        });

        //这个是图标的display
        document.addEventListener('DOMContentLoaded', function() {

            const departments = Array.from(document.querySelectorAll('.department-id')).map((deptIdEl) => {
                const id = deptIdEl.value;
                const name = document.querySelector(`.department-name[data-id="${deptIdEl.getAttribute('data-id')}"]`).value;

                return { id, name };
            });

            const data = {
                labels: departments.map(dept => dept.name),
                datasets: [{
                    label: '人数',
                    data: [],
                    //颜色不知道什么好看就随机了，每次刷新都不一样的哈哈哈
                    backgroundColor: departments.map(() => `rgba(${Math.random() * 255}, ${Math.random() * 255}, ${Math.random() * 255}, 0.2)`),
                    borderColor: 'rgb(100,149,237,1)',
                    borderWidth: 1
                }]
            };

            const ctx = document.getElementById('myChart').getContext('2d');

            const chart = new Chart(ctx, {
                type: 'pie', //饼图的样式
                data: data,
                options: {
                    responsive: true,
                    legend: {
                        display: true,
                        position: 'right',
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                const dataset = data.datasets[tooltipItem.datasetIndex];
                                const currentValue = dataset.data[tooltipItem.index];
                                const currentLabel = data.labels[tooltipItem.index];
                                return currentLabel + ": " + currentValue;
                            }
                        }
                    }
                }
            });

            Promise.all(departments.map(dept => fetch(`/charts/employeeCount/${dept.id}`).then(response => response.json())))
                .then(counts => {
                    data.datasets[0].data = counts;
                    chart.update();
                });


        });



    </script>
</body>
</html>