<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <base href="/" />
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link href="../static/css/userList.css" th:href="@{/css/userList.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div th:insert="~{common :: navbar}"></div>
        <div class="toggle" onclick="toggleMenu()"></div>
        <div class="main">
            <div class="topbar">
                <div class="profile">
                    <h3 th:text="${fullName + '-' + department}"></h3>
                    <div class="user">
                        <img src="/img/civilization5_4Kwallpaper.jpg">
                    </div>
                </div>
<!--                 search -->
                    <div class="search">
                        <label>
                            <input id="search-input" type="text" placeholder="搜索" onkeyup="searchFunction()">
                            <ion-icon name="search-outline"></ion-icon>
                        </label>
                    </div>
            </div>
            <div class="table-users">
                <table id="theTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>邮箱</th>
                            <th>部门</th>
                            <th>权限</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="emp:${employees}">
<!--                            用户头像没有-->
                            <!--                        <td><img src="/img/civilization5_4Kwallpaper.jpg"></td>-->
                            <td th:text="${emp.getId()}" id="empId"></td>
                            <td th:text="${emp.getFullName}"></td>
                            <td th:text="${emp.getGenderString()}"></td>
                            <td th:text="${emp.getEmail()}"></td>
                            <td th:text="${emp.getDepartmentString()}"></td>
                            <td th:text="${emp.getRoleString()}"></td>
                            <td><button class="messageBtn" th:data-id="${emp.getId()}">发送信息</button>
                                <button class="editBtn adminButton" th:data-id="${emp.getId()}">修改</button>
                                <button class="deleteBtn adminButton" th:data-id="${emp.getId()}">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="addUserBtn adminButton">添加员工</button>
            </div>
        </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script type="text/javascript">
        function searchFunction() {
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById("search-input");
            filter = input.value.toUpperCase();
            table = document.getElementById("theTable");
            var tbody = table.getElementsByTagName("tbody");
            tr = tbody[0].getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                var tds = tr[i].getElementsByTagName("td");
                var found = false;
                for (j = 0; j < tds.length; j++) {
                    td = tds[j];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            found = true;
                            break;
                        }
                    }
                }
                tr[i].style.display = found ? "" : "none";
            }
        }


        window.onload = function() {
            //读取当前用户的权限
            fetch('/user/currentRole')
                .then(response => response.json())
                .then(data => {
                    //如果用户不是管理员，隐藏修改和删除的按钮
                    if (data.role !== 'ROLE_ADMIN') {
                        const adminButtons = document.querySelectorAll('.adminButton');
                        adminButtons.forEach(button => {
                            button.classList.add('hide');
                        });
                    }
                })
                .catch(error => console.error('Error:', error));
        };

        function toggleMenu(){
            let navbar = document.querySelector('.navbar');
            let main = document.querySelector('.main');
            main.classList.toggle('active');
            navbar.classList.toggle('active');
        }

        document.querySelectorAll('.messageBtn').forEach(function(button) {
            button.addEventListener('click', function() {
                var id = this.dataset.id;
                window.location.href = '/inbox/send/' + id;
            });
        });


        document.querySelectorAll('.editBtn').forEach(function(button) {
            button.addEventListener('click', function() {
                console.log('Edit button clicked');
                var id = this.dataset.id;
                window.location.href = '/allEmp/editUser/' + id;
            });
        });

        document.querySelectorAll('.deleteBtn').forEach(function(button) {
            button.addEventListener('click', function() {
                console.log('Delete button clicked');
                var id = this.dataset.id;

                if (confirm('确认要删除此用户？（操作不可撤回）')) {
                    fetch('/user/deleteEmp/' + id, {
                        method: 'DELETE',
                    })
                        .then(response => {
                            if(response.ok) {
                                alert("删除成功");
                                location.reload();
                            } else {
                                console.log('Error: ' + response.statusText);
                            }
                        })
                        .catch(function(error) {
                            console.log('Fetch Error: ', error);
                        });
                }
            });
        });

        document.querySelectorAll('.addUserBtn').forEach(function(button) {
            button.addEventListener('click', function() {
            window.location.href = '/allEmp/addUser'})
        });
    </script>
</body>
</html>