<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.CompanyManagementSystem.Mapper.EmployeeMapper">

    <select id="findUserByEmail" resultType="com.management.CompanyManagementSystem.Entity.Employee">
        SELECT *
        FROM employee
        WHERE email = #{email}
    </select>

    <select id="findUserByID" resultType="com.management.CompanyManagementSystem.Entity.Employee">
        SELECT *
        FROM employee
        WHERE id = #{id}
    </select>

    <insert id="register" parameterType="com.management.CompanyManagementSystem.Entity.Employee">
        INSERT INTO employee (fullName, password, email)
        VALUES (#{fullName}, #{password}, #{email})
    </insert>

    <select id="findUserList" resultType="com.management.CompanyManagementSystem.Entity.Employee">
        SELECT * FROM employee
    </select>

    <delete id="deleteFromAssignmentUsers" parameterType="int">
        DELETE FROM AssignmentUsers WHERE EmployeeID = #{id}
    </delete>


    <delete id="deleteUser" parameterType="int">
        DELETE FROM employee
        WHERE id = #{id}
    </delete>

    <insert id="addEmployee" parameterType="com.management.CompanyManagementSystem.Entity.Employee">
        INSERT INTO employee (fullName, password, email, gender, departmentID, roleID)
        VALUES (#{fullName}, #{password}, #{email},#{gender},#{departmentID}, #{roleID})
    </insert>

    <update id="editEmployee" parameterType="com.management.CompanyManagementSystem.Entity.Employee">
        UPDATE employee
        SET
            fullName = #{fullName},
            email = #{email},
            gender = #{gender},
            departmentID = #{departmentID},
            roleID = #{roleID},
            password = #{password}
        WHERE id = #{id};
    </update>

    <update id="editPassword">
        UPDATE employee SET password = #{password} WHERE id = #{id}
    </update>
    <select id="findUserByDepartment" resultType="com.management.CompanyManagementSystem.Entity.Employee">
        SELECT * FROM employee
        WHERE departmentID = #{departmentID};
    </select>
</mapper>